.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

/* Card */
.card {
  background-color: #FFFFFF;
  border-radius: 18px;
  padding: 35px;
  border: 1px solid #CFA878;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title */
.title {
  color: #4B2E1F;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

/* Description */
.description {
  color: #1C140F;
  font-size: 1rem;
  margin-bottom: 10px;
  max-width: 600px;
}

/* Price */
.price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #4B2E1F;
  margin: 8px 0;
}

/* Stock */
.stock {
  font-size: 0.95rem;
  color: #6B8A5B;
  margin-bottom: 20px;
}

/* ACCIONES */
.actions {
  display: flex;
  justify-content: center;   
  align-items: center;
  gap: 18px;
  margin-top: 20px;
}

/* Volver link */
.backButton {
  margin-top: 30px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #4B2E1F;
  border: 2px solid #4B2E1F;
  transition: 0.25s ease;
  font-weight: 500;
}

.backButton:hover {
  background-color: #4B2E1F;
  color: #F3E9D7;
}

/* Imagen del producto */
.detailImg {
  width: 70%;                  
  max-width: 450px;            
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 25px;
  display: block;
}