.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.input {
  width: 60px;
  text-align: center;
  padding: 0.45rem;
  font-size: 1rem;
  border: 2px solid #CFA878;
  border-radius: 10px;
  background-color: #F3E9D7;
  color: #4B2E1F;
  font-weight: 600;
  outline: none;
  transition: border 0.25s ease;
}

.input:focus {
  border-color: #4B2E1F;
}