.navbar {
  background-color: #D9CBBE !important;
}

.nav-link {
  font-weight: 500;
  color: #B67E4D !important;
}

.nav-link:hover {
  color: #3a3431 !important;
}

.navbar-brand {
  letter-spacing: 1px;
}